@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #CC3F0C;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 1em 0;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #CC3F0C;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #5D1D06;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #CC3F0C;
  align-items: center;
  padding: 1em;
}
.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
.filter-options select:focus{
  border: 3px solid #000;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0 60px;
  text-align: center;
}
#restaurants-list li {
  display:inline-block;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 25px 30px;
  text-align: left;
  width: calc(25% - 94px);
  vertical-align: top;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #CC3F0C;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #CC3F0C;
  border: 1px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
}
#restaurants-list li a:focus,
#restaurants-list li a:hover {
  text-decoration: underline;
  background-color: #5D1D06;
  border: 1px solid #CC3F0C;
}

/* ============== Restaurant Listing Media Queries ================ */
@media (max-width: 900px){
  #restaurants-list li{
    width:calc(33% - 4em - 12px);
    padding: 1em;
    margin: 1em;
    min-height: 320px;
  }
}

@media (max-width: 600px){
  #restaurants-list li{
    width:calc(100% - 2em);
    margin: 2em 0;
    border: 0;
    border-top: 2px solid #cacaca;
    border-bottom: 2px solid #cacaca;
  }
}




/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 80px);
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  z-index: 1;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: calc(50% - 50px);
}
#footer a{
  color: orange;
}
#restaurant-name {
  color: #CC3F0C;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(50% - 80px)
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h4 {
  color: #CC3F0C;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0 0 4em;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Accessibility extras ===================== */
.skipLink{
  position: absolute;
  left:-999px;
}
area:focus, area:hover{
  border: 2px solid #000;
}

/* ================ Restaurant Details Media Queries================ */

@media (max-width: 900px){

}

@media (max-width: 600px){
  #breadcrumb{
    width: 100%;
  }
  .inside #map-container{
    width:100%;
    height: 150px;
    margin-top: 51px;
    position: relative;
  }
  #restaurant-container{
    width:calc(100% - 40px);
    padding: em 20px 80px;
  }
  #reviews-container{
    width:calc(100% - 40px);
    padding: 30px 20px ;
  }
  .inside #footer{
    width:calc(100% - 50px);
  }
}